// Color literals and operations.
brand = #3498db

.swatches
  color brand
  background #fff
  border-color #A0B1C2
  outline-color rgb(10, 20, 30)
  fill rgba(10, 20, 30, 0.4)
  stroke hsl(120, 50%, 50%)
