a
  color lighten(#000, 50%)
  background darken(#fff, 25%)
  border-color hsl(120, 50%, 50%)
  fill mix(#fff, #000)
  outline-color complement(red)
  z-index floor(4.7)
  width round(3.5px)
  opacity percentage(0.25)
  margin max(3px, 9px, 5px)
  content unquote("hi")
